<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>哈士奇社区</title>
    <head th:insert="~{import :: head}"></head>
</head>
<script type="application/javascript">
    window.onload = function () {//页面加载完成时去校验
        var closable = window.localStorage.getItem("closable");
        if (closable === "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true">发现</span></h2>
            <hr>
            <div class="media" th:if="${pagination != null && pagination.data !=null}"
                 th:each="question : ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="index-question-description" th:text="${question.description}" maxlength="30"></span>
                    <br>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span> 个回复 ●
                        <span th:text="${question.viewCount}"></span> 个浏览 ●
                        <span th:text="${#calendars.format(question.gmtCreate,'yyyy-MM-dd')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.currentPage - 1},search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pagination.pagesList}" th:class="${pagination.currentPage==page}?'active':''">
                        <a th:href="@{/(page=${page},search=${search})}" th:text="${page}"></a>
                    </li>


                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.currentPage + 1},search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.getTotalPage},search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            </div>

            <!--这是微信号 -->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <img class="img-thumbnail question-wechat" src="/images/husky.png">
                <img class="img-thumbnail question-wechat" src="/images/weixin.jpg">

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"> 一个分享知识交流的小社区</span>
                 <br>
                <br>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"> 可以在这里分享你的知识见解，可以与其他社区伙伴讨论</span>
                 <br>
                <br>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"> 你收到的所有消息都会在通知栏提示</span>
                 <br>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>

</div>

</body>
</html>